#tooplate_wrapper {
	width: 900px;
	margin: 0 auto;
}

#tooplate_sidebar {
	float: left;	
	width: 260px;
}

.teks1 {
    font-size:12px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.teks2 { font-size:14px; line-height: 20px;}
.teks3 { font-size:14px; line-height: 1.5em;}
.teks4 { font-size:14px; line-height: 2;}


.up-to-me {
    font: bold 15px/40px Verdana,serif;
    text-shadow: 1px 2px 1px white;
    text-align:center;
    border:solid 3px green;
    color: #fff;
    background-color: skyblue;
}
.up-to-me:hover {
    text-shadow: 1px 2px 2px green;
    color: #fff;
    -webkit-box-shadow: -10px -10px 0 blue;
    -moz-box-shadow: -10px -10px 0 blue;
    box-shadow: -10px -10px 0 blue;
    -webkit-transform: translate(10px, 10px);
    -moz-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -o-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}

#content {
	float: right;
	margin-top: 10px;
	width: 552px;
	height: 620px;	
	padding: 10px;
	background: url(../images/tooplate_main%20-%20Copy.png) no-repeat top left
}

#content2 {
	float: right;
	margin-top: 10px;
	width: 552px;
	height: 720px;	
	padding: 10px;
	background: url(../images/tooplate_main%20-%20Copy2.png) no-repeat top left
}

#content3 {
	float: right;
	margin-top: 80px;
	width: 552px;
	height: 720px;	
	padding: 10px;
	background: url(../images/tooplate_main%20-%20Copy2.png) no-repeat top left
}

.scroll {
    width: 443px;
    height: 500px;
	margin: 50px 10px 50px 50px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    width: 393px;
    height: 620px;
}


ul.navigation {
    list-style: none;
    margin-top: 60px;
}

ul.navigation a {
	display: block;
	width: 220px;
	color: #000;
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #fff;
}

.scrollButtons {
    position: absolute;
    top: 330px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.linkedin {
	background-color: deepskyblue;
	border-radius: 32px;
	font-size: 35px;
	line-height: 65px;
	z-index: 1;
}

.boxes{
    background: #45156a;
    border-radius: 6px;  cursor: pointer;
    height: 65px;  line-height: 65px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 65px;
}
.boxes:hover {
    background: deepskyblue;
    border-radius: 50%;
}

.boxes2{
    margin-left: 70px;
    background: #45156a;
    border-radius: 6px;  cursor: pointer;
    height: 65px;  line-height: 65px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 65px;
}
.boxes2:hover {
    background: deepskyblue;
    border-radius: 50%;
}

.cmn-t-pulse {
    margin-left: 40px;
    margin-top: 100px;
    font: bold 15px/40px Verdana,serif;
    text-shadow: 1px 2px 1px red;
    text-align:center;
    border:solid 3px green;
    color: #fff;
    background-color: skyblue;
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}
.cmn-t-pulse:hover {
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  25% {
    -o-transform: scale(1.1);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.gallerycontainer{
position: relative;
}
.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}
.thumbnail:hover{
background-color: transparent;
}
.thumbnail:hover img{
border: 1px solid blue;
}
.thumbnail span{
position: absolute;
background-color: lightyellow;<
padding: 5px;
left: 0px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}
.thumbnail span img{
border-width: 0;
padding: 2px;
}
.thumbnail:hover span{
visibility: visible;
top: 0;
left: 0px;
z-index: 50;
}